body{
    background-color: rgba(93, 60, 241, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.container{
    background-color: white;
    margin:20px 50px;
    width:600px;
    padding:20px;
}
.heading{
    font-weight:bold;
    text-align: center;
}
.subheading{
    text-align: center;
}
label{
    margin-bottom: 5px;
    font-weight: bold;

}
.name{
    margin-left: 15px;
    
}
.div1 {
    display: flex;
    gap: 20px;
    margin: 10px;
  }
  .div2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .radio{
    font-weight: normal;
  }
  .slots{
    display:flex;
    flex-wrap: wrap;
    margin-top: 0px;
    
  }
  .slot{
    margin: 5px;
    padding:0px 20px;
    height:40px;
    width:130px;
    color: rgb(36, 67, 248);
    border:2px solid rgb(36, 67, 248);
    background-color: white;
    border-radius: 3px;;
  }
  .slot:hover{
    background-color: rgb(112, 172, 224);
  }
  .fileupload{
    border:2px dashed black;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    height:120px;
    padding:20px;
  }
  
.fileupload:hover{
    background-color:rgb(216, 216, 203,0.2);
}
.upload{
    cursor: pointer;
    text-decoration: underline;
}
.uploadicon{
font-size: 36px; 
color: grey !important;

}
select{
    width:50%;
    padding:5px;
}
input{
    padding:5px;
}
.submit{
    align-items: center;
    justify-content: center;
}
button{
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
   width: 90px;
   height: 50px;
  
}

.required{
    color: red;
}
.submit>button:hover{
    background-color: rgba(0, 0, 0, 0.832);
}
#selected-date{
   font-weight: bold;
    text-align: left;
}
.slot.click {
    background-color: rgb(112, 172, 224);
}
.incorrect{
    color: red;
    font-size: 15px;
}
.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  text-align: center;
}

.message {
  background-color: rgba(150, 77, 228, 0.921);
  padding: 100px;
  border-radius: 10px;
  width: 300px;
  margin: 15% auto;
  text-align: center;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 24px;
}

  